.circle-button {
  display: flex;
  box-sizing: content-box;
  height: 80px;
  width: 100px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  border: solid;
  border-width: 1px;
  border-color:#b084f4;
  padding: 1;
  color: #7e57c2;
}

.circle-button p {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.circle-button:hover {
  background-color:#7e57c2;
  color: white;
}

.hero-image{ 
  width: 400px;
  display: flex;
  margin: 0 auto;
}

